@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
    --light--color-200: #efe9f4;
    --light--color-300: #0496ff;

    --accent--color-300: #A40E4C;

    --neutral--color-400: #006ba6;
    --dark--color-700: #171d1c;

    --ff-primary: "Roboto", sans-serif; 
    --ff-accent: "Playfair Display", serif;
}

ul.breadcrumb {
    padding: .5em;
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 1rem;
}
ul.breadcrumb li+li:before {
    padding: .4em;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: var(--accent--color-300);
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    text-decoration: underline;
}


.checkout-split {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
}

.payment-section {
    /* margin: auto; */
    background-color: aliceblue;
    padding: 1em;
    border-radius: 5px;
    max-width: 100%;
}

.checkout-title {
    margin-block-start: .7rem;
    margin-block-end: 0;
}

.form-title {
    margin: 2rem auto;
    font-size: 1.8rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    
}

form label {
    margin-bottom: .3em;
    font-size: 1.1rem;
}
form input, form button {
    margin-bottom: 1em;
    padding: 0.7em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    background-color: #000;
    color: var(--light--color-300);
    padding: .4rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}
form button:hover {
    color: #fff;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.order-summary {
    margin-bottom: 3em;
    border: 1 solid --accent--color-300;
}

.order-title {
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.order-summary .order-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.order-summary .order-item.border-bottom {
    padding: 1rem 0;
    border-bottom: 1px solid var(--accent--color-300);
}

.order-summary .order-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.order-summary .order-item div {
    display: flex;
    flex-direction: column;
}

.order-summary .total {
    padding: .7rem 0;
    font-weight: bold;
    margin-top: 20px;
    border-top: 1px solid var(--accent--color-300);
    border-bottom: 1px solid var(--accent--color-300);

}

@media (min-width: 40em) {
    .checkout-split {
        flex-direction: row;
        gap: 2em;
    }

    /* Equal columns */
    .checkout-split > * {
        flex-basis: 100%;
    }

    .checkout-split > * + * {
        margin-left: 2em;
    }

    
}