.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1em;
}

.disable-cart-icon {
    pointer-events: none;
    cursor: not-allowed;
}

.return-cart-btn {
    display: inline-block;
    margin-block-start: 1em;
  
}



/* Checkout split layout */
.checkout-split {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    gap: 2em;
}

.payment-section, .order-summary {
    background-color: #F1F7FA;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.checkout-title {
    margin-block-start: 1em;
    margin-block-end: 0;
    font-size: 2rem;
    color: #000;
}

.form-title, .order-title {
    font-size: 1.6rem;
    color: #000;
    border-bottom: 2px solid #247ba0;
    padding-bottom: 0.5em;
    margin-bottom: .6em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5em;
    font-size: 1.1rem;
    color: #333;
}

form input, form button {
    margin-bottom: 1em;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form input {
    background-color: #fff;
}

form button {
    background-color: #247ba0;
    color: white;
    border: none;
    padding: 0.8em;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    opacity: .8;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

/* Success Message */
.alert-success {
    background-color: #dff0d8;
    color: #1c561d;
    border: 1px solid #3c763d;
}

/* Error Message */
.alert-error {
    background-color: #f2dede;
    color: #a52825;
    border: 1px solid #a94442;
}

/* Info Message */
.alert-info {
    background-color: #d9edf7;
    color: #31708f;
    border: 1px solid #bce8f1;
}


/* Order summary styling */
.order-summary .order-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.order-summary .order-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 4px;
}

.order-summary .order-item div {
    display: flex;
    flex-direction: column;
}

.order-summary .total {
    font-size: 1.3rem;
    padding: 1rem 0;
    font-weight: 500;
    border-top: 1px solid #247ba0;
    color: #000;
}

@media (min-width: 768px) {
    .checkout-split {
        flex-direction: row;
    }

    .checkout-split > * {
        flex-basis: 48%;
    }
}
